
*{
    font-family: "Josefin Sans", sans-serif;
}
.loginBox{
    width: 500px;
    height: 600px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    -webkit-box-shadow: -1px 5px 20px -1px rgba(0,0,0,0.82);
    box-shadow: -1px 5px 20px -1px rgba(0,0,0,0.82);
    background-color: rgb(184 124 243 / 0.82);

}



.flexContainer{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.userInput{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.radioBttn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    padding-top: 5px;
}

.radioBttn label {
    white-space: nowrap;
}

.email,
.password,
.getName{
    width: 100%;

    padding-bottom: 5px;
}

.email input,
.password input,
.getName input{
    box-sizing: border-box;
}



.loginHeader{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.loginInfo{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.loginHeader span{
    font-size: 40px;
    font-weight: bold;
}
.loginHeader p{
    font-size: 15px
}

.bttns{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    padding: 10px 20px;
    background-color: #7945ff;
    font-size: 16px;
    font-weight: lighter;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    color: white;
}

button:hover{
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active{
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #003367;
}