*{
    padding: 0;
    margin: 0;

    font-family: SansSerif;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00cc82;
    padding: 16px 32px;

}

.ul{
    gap: 2rem;
    display: flex;
    list-style: none;
    font-size: 1.2rem;
}

.logo{
    font-size: 2rem;
}

a{
    text-decoration: none;
}



